<nav class="navbar navbar-default navbar-fixed-top">
  	<div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
      	<div class="navbar-header">
      		<a class="navbar-brand" href="#">Assessment</a>
    	</div>
    	<a *ngIf="location.path() !== '/products'" routerLink="/" class="btn btn-default navbar-btn">Back</a>
    	<a routerLink="/products/cart" class="btn btn-default navbar-btn navbar-right" style="margin-right: 1em;"><i class="glyphicon glyphicon-shopping-cart"></i>  {{itemCount}}</a>
  	</div><!-- /.container-fluid -->
</nav>
<div class="container">
	<router-outlet></router-outlet>
</div>

